/**
 * Global
 */

a {
  color: map-get($theme-colors, 'primary');
}

/**
 * Block editor color palette utilities
 * @see https://git.io/JeyD6
 */

@each $color-name, $color-value in $theme-colors {
  .has-#{$color-name}-color {
    color: $color-value;
  }

  .has-#{$color-name}-background-color {
    background-color: $color-value;
  }
}

/** Satellite Cursor */

[data-cursor="-icon"]:hover {
  color: $primary;
}

.satellite-cursor {

  &:before {
    background-color: $dark;
  }

  &.-primary {

    &:before{
      background-color: $primary;
      opacity: 1;
    }

    .satellite-cursor-text {
      color: $dark;
    }

  }

  &.-inverse {

    &:before{
      background-color: $white;
      opacity: 1;
    }

    .satellite-cursor-text {
      color: $dark;
    }

  }

  &.-icon {
    &:before {
      height: 45px;
      width: 45px;
      background-color: transparent;
      border: solid 2px $primary;
    }
  }
}

.input-down{
  border: 0; 
  border-bottom: 1px solid grey;
}

#card, #card-testimonial{
  background-color: rgba(241, 241, 241,0.7);
  transition: background-color,box-shadow 0.2s ease 0s;
}

#card:hover{
  background-color: transparent;
  box-shadow: 10px 10px 10px 0px rgba(85, 85, 85, 0.2);
}

#card-testimonial:hover{
  background-color: transparent;
}


// Santiago styles

#card-testimonial {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: -30px;
    left: 10%;
    width: 40px;
    height: 40px;
    border-left: 0px solid $primary;
    border-top: 20px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 20px solid transparent;
    transition: 0.2s;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 10px;
    right: 40%;
    width: 4px;
    height: 40px;
    transition: 0.6s;
    border-radius: 50% 0px 0px 50%;
  }
}
  
  #card-testimonial:hover {
    
    &:after {
      top: -26px;
      left: 10%;
      border-left: 38px solid $primary;
      transform: rotate(107deg);
    }
    &:before {
      content: "";
      position: absolute;
      bottom: 40px;
      right: 20%;
      width: 60px;
      height: 30px;
      border: 2px solid $grey;
      transition: 0.2s;
      border-radius: 100px 100px 0px 0px;
      transform: rotate(220deg);
    }
}
#social-icon{
  background-color: rgba(69, 69, 69, 0.8);
  transition: background-color 0.2s ease 0s;
}
#social-icon:hover{
  background-color: rgba(131, 131, 131, 0.7);
}

#link-list a{
  transition: color 0.2s ease 0s;
}

#link-list a:hover{
  color: $primary;
}